.full-screen-calendar {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: to give a dark overlay background */
}

.react-datepicker {
    width: 100%;
    height: 100%;
    max-width: none; /* Remove any max-width constraints */
    max-height: none; /* Remove any max-height constraints */
}

.react-datepicker__month-container {
    width: 100%;
    height: 100%;
}

.react-datepicker__day {
    width: calc(100% / 7);
    height: auto;
}
.react-datepicker__day-name {
    width: calc(100%/7);
    height: auto;
}
